@font-face {
  font-family: "pixelFont";
  src: url("./assets/font/VT323-Regular.ttf");
}

body {
  padding-top: 0px;
  background-color: #ffefc2;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#gameCanvas {
  padding: 0;
    margin: auto;
    display: block;
    width: 750px;
    height: 435px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
