@font-face {
  font-family: "pixelFont";
  src: url("./assets/font/VT323-Regular.ttf");
}

body {
  padding-top: 0px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#stressCanvas {
  position: absolute;
}
